APP_URL=http://localhost:3000
API_URL=http://web:3000/api

MAIL_ASSETS_URL=https://odin-rio-preto-web-git-develop-andrielson.vercel.app/assets
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=
MAIL_MAILTO_UNSUBSCRIBE=

OAUTH_API_URL=
OAUTH_AUDIENCE=
OAUTH_CLIENT_ID=
OAUTH_CLIENT_SECRET=
OAUTH_GRANT_TYPE=client_credentials

# Confira mais detalhes em: https://nodemailer.com/smtp/
NODEMAILER_WELL_KNOWN=
NODEMAILER_SMTP_HOST=
NODEMAILER_SMTP_PORT=
NODEMAILER_SMTP_USER=
NODEMAILER_SMTP_PASS=
NODEMAILER_SMTP_SECURE=false
NODEMAILER_SMTP_POOL=false